*{
    margin: 0;
    padding: 0;
}

body{
    background:url(xbox.jpg) no-repeat center center fixed;
    background-size: cover;
}

.container{
    
    color: white;
    position: absolute;
    top: 30%;
    left: 19%;
}

.container h1{
    border-bottom: 3px solid rgb(0, 0, 0);
    font-size: 50px;
    margin-bottom: 50px;
    padding: 15px 0;
    font-family: 'Varela Round', sans-serif;
    text-shadow: 2px 2px rgb(0, 0, 0);
}

.box{
    width: 100%;
    margin: 20px 0;
    border-bottom: 3px solid rgb(0, 0, 0);
  }
  
.box input{
    background: none;
    width: 80%;
    margin: 18px 12px;
    padding: 8px 0;
    font-size: 20px;
    border: none;
    outline:none;
    border-radius: 15px;
   color: white;
}
.box i{
    width:25px;
    text-align: center;
}

.btn{
    cursor: pointer;
    outline: none;
    width:30%;
    margin:19px 25px;
    padding: 7px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 15px;
    font-size: 18px;
    background: none;
    color: white;
    font-family: 'Varela Round', sans-serif;
    align-items: center;
}
.btn:hover{
    cursor: pointer;
    background-color: rgb(0, 0, 0);
    border: 2px solid rgb(255, 255, 255);
    font-family: 'Varela Round', sans-serif;
}